<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poll Forum</title>
    <link href="/static/poll_forum/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/poll_forum/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <div class="navbar">
        <h1 id="navLogo">Poll Forum</h1>
        <div id="navigationLinks">
            <a class="navL" href="/forum"><button class="btn btn-info">Return to Forum</button></a>
            <!-- <a class="navL" href="/create_poll"><button>Create Poll</button></a> -->
            <!-- <a class="navL" href="#"><button>My Polls</button></a> -->
            <a class="navL" href="/logout"><button class="btn btn-info">Logout</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <br><fieldset>        
                <legend>Create a Poll</legend>
                <form action="/newPoll" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="content">Poll Question: </label>
                        <textarea type="text" class="form-control" name="content" rows="5" placeholder="Enter your question here"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="option1">Option 1: </label>
                        <input type="text" class="form-control" name="option1">
                    </div>
                    <div class="form-group">
                        <label for="option2">Option 2: </label>
                        <input type="text" class="form-control" name="option2">
                    </div>
                    <div class="form-group">
                        <label for="option3">Option 3: </label>
                        <input type="text" class="form-control"name="option3">
                    </div>
                    <div class="form-group">
                        <label for="option4">Option 4: </label>
                        <input type="text" class="form-control" name="option4">
                    </div>
                        <button type="submit" class="btn btn-info">Create Poll Question</button>
                </form>
                    {% if messages %}
                        {% for message in messages %}
                            {% if "error" in message.tags %}
                            <ul>
                                <li class="error">{{message}}</li>
                            </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </fieldset>
            </div>
            <div class="col-md-3">
            </div>
        </div><br>
    </div>   
</body>
</html>